
<div class="container">
  <div class="sidebar">
      <ul>
          <li><a routerLink="/dashboard"><i class="fa fa-home"></i>Dashboard</a></li>
          <li><a routerLink="/livros"><i class="fa fa-book"></i>Livros</a></li>
          <li><a routerLink="/aluguel"><i class="fa-solid fa-handshake"></i> Aluguel</a></li>
      </ul>
  </div>
  <div class="content">
    <div class="header">Biblioteca Digital</div>
      <div class="info">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>